a.btn,
.btn {
	border: 0;
	color: $white;
	font: 700 16px/20px $titleFF;
	background: url("/images/btn-bg-pink.svg") 50% 50% / contain no-repeat;
	border-radius: 0;
	padding: 5px 16px;
	cursor: pointer;
	text-align: center;
	text-overflow: ellipsis;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	transition: all 0.3s;
	min-width: 262px;
	height: 62px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;

	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 80%;
		height: 80%;
		background: #ff37f8;
		filter: blur(30px);
		transform: translate(-50%, -50%) scale(0);
		opacity: 0;
		z-index: -1;
		transition: all 0.7s;
	}

	@media screen and (max-width: $xs) {
	}

	&:hover,
	&:active {
		color: $white;

		&:after {
			opacity: 1;
			transform: translate(-50%, -50%) scale(1);
		}
	}

	&:focus {
		outline: none;
	}

	&:disabled,
	&[disabled],
	&:disabled:focus {
		opacity: 0.4;
		pointer-events: none;
	}

	&--soc {
		min-width: 62px;
		background: url("/images/btn-bg-soc.svg") 50% 50% / contain no-repeat;

		svg {
			width: 21px;
			height: 21px;
			stroke: $white;
			display: block;
		}
	}
}
