a.btn,
.btn {
	border: 0;
	color: $white;
	font: 700 16px/20px $titleFF;
	background: url("/images/btn-bg-pink.svg") 50% 50% / contain no-repeat;
	border-radius: 0;
	padding: 5px 16px;
	cursor: pointer;
	text-align: center;
	text-overflow: ellipsis;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	transition: all 0.3s;
	min-width: 262px;
	height: 62px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;

	@media screen and (max-width: $xs) {
	}

	&:hover {
		color: $white;
		background: url("/images/btn-bg-pink-hover.svg") 50% 50% / contain no-repeat;
	}
	&:active {
		color: $white;
		background: url("/images/btn-bg-pink-click.svg") 50% 50% / contain no-repeat;
	}

	&:focus {
		outline: none;
	}

	&:disabled,
	&[disabled],
	&:disabled:focus {
		background: url("/images/btn-bg-pink-disabled.svg") 50% 50% / contain no-repeat;
		pointer-events: none;
	}

	&--arrow {
		min-width: 62px;
		background: url("/images/btn-bg-arrow.svg") 50% 50% / contain no-repeat;

		&:after {
			display: none;
		}

		svg {
			fill: none;
			stroke: #cefece;
			transition: all 0.4s;
			width: 19px;
			height: 20px;
		}

		&:hover,
		&:focus {
			background: url("/images/btn-bg-arrow-hover.svg") 50% 50% / contain no-repeat;

			svg {
				fill: #cefece;
				stroke: none;
			}
		}
	}

	&--next {
		svg {
			transform: rotate(180deg);
		}
	}

	&--soc {
		min-width: 62px;
		background: url("/images/btn-bg-soc.svg") 50% 50% / contain no-repeat;

		&:hover,
		&:focus {
			background: url("/images/btn-bg-soc-pink.svg") 50% 50% / contain no-repeat;
		}

		svg {
			width: 21px;
			height: 21px;
			stroke: $white;
			fill: $white;
			display: block;
		}

		&.btn--pink {
			background: url("/images/btn-bg-soc-pink.svg") 50% 50% / contain no-repeat;

			svg {
				width: 30px;
				height: 30px;
			}
		}
	}
}
