@font-face {
	font-family: "Epilogue";
	src: url("/madbackpacks-dev/fonts/Epilogue-BlackItalic.woff2") format("woff2"),
		url("/madbackpacks-dev/fonts/Epilogue-BlackItalic.woff") format("woff");
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Epilogue";
	src: url("/madbackpacks-dev/fonts/Epilogue-Bold.woff2") format("woff2"), url("/madbackpacks-dev/fonts/Epilogue-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Epilogue";
	src: url("/madbackpacks-dev/fonts/Epilogue-Black.woff2") format("woff2"), url("/madbackpacks-dev/fonts/Epilogue-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Epilogue";
	src: url("/madbackpacks-dev/fonts/Epilogue-ExtraBoldItalic.woff2") format("woff2"),
		url("/madbackpacks-dev/fonts/Epilogue-ExtraBoldItalic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Epilogue";
	src: url("/madbackpacks-dev/fonts/Epilogue-BoldItalic.woff2") format("woff2"), url("/madbackpacks-dev/fonts/Epilogue-BoldItalic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Epilogue";
	src: url("/madbackpacks-dev/fonts/Epilogue-ExtraBold.woff2") format("woff2"), url("/madbackpacks-dev/fonts/Epilogue-ExtraBold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Epilogue";
	src: url("/madbackpacks-dev/fonts/Epilogue-ExtraLight.woff2") format("woff2"), url("/madbackpacks-dev/fonts/Epilogue-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Epilogue";
	src: url("/madbackpacks-dev/fonts/Epilogue-ExtraLightItalic.woff2") format("woff2"),
		url("/madbackpacks-dev/fonts/Epilogue-ExtraLightItalic.woff") format("woff");
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Epilogue";
	src: url("/madbackpacks-dev/fonts/Epilogue-Italic.woff2") format("woff2"), url("/madbackpacks-dev/fonts/Epilogue-Italic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Epilogue";
	src: url("/madbackpacks-dev/fonts/Epilogue-Light.woff2") format("woff2"), url("/madbackpacks-dev/fonts/Epilogue-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Epilogue";
	src: url("/madbackpacks-dev/fonts/Epilogue-LightItalic.woff2") format("woff2"),
		url("/madbackpacks-dev/fonts/Epilogue-LightItalic.woff") format("woff");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Epilogue";
	src: url("/madbackpacks-dev/fonts/Epilogue-Medium.woff2") format("woff2"), url("/madbackpacks-dev/fonts/Epilogue-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Epilogue";
	src: url("/madbackpacks-dev/fonts/Epilogue-MediumItalic.woff2") format("woff2"),
		url("/madbackpacks-dev/fonts/Epilogue-MediumItalic.woff") format("woff");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Epilogue";
	src: url("/madbackpacks-dev/fonts/Epilogue-SemiBold.woff2") format("woff2"), url("/madbackpacks-dev/fonts/Epilogue-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Epilogue";
	src: url("/madbackpacks-dev/fonts/Epilogue-Regular.woff2") format("woff2"), url("/madbackpacks-dev/fonts/Epilogue-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Epilogue";
	src: url("/madbackpacks-dev/fonts/Epilogue-SemiBoldItalic.woff2") format("woff2"),
		url("/madbackpacks-dev/fonts/Epilogue-SemiBoldItalic.woff") format("woff");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Orbitron";
	src: url("/madbackpacks-dev/fonts/Orbitron-Bold.woff2") format("woff2"), url("/madbackpacks-dev/fonts/Orbitron-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Orbitron";
	src: url("/madbackpacks-dev/fonts/Orbitron-Black.woff2") format("woff2"), url("/madbackpacks-dev/fonts/Orbitron-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Epilogue";
	src: url("/madbackpacks-dev/fonts/Epilogue-ThinItalic.woff2") format("woff2"), url("/madbackpacks-dev/fonts/Epilogue-ThinItalic.woff") format("woff");
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Epilogue";
	src: url("/madbackpacks-dev/fonts/Epilogue-Thin.woff2") format("woff2"), url("/madbackpacks-dev/fonts/Epilogue-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Orbitron";
	src: url("/madbackpacks-dev/fonts/Orbitron-Regular.woff2") format("woff2"), url("/madbackpacks-dev/fonts/Orbitron-Regular.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Orbitron";
	src: url("/madbackpacks-dev/fonts/Orbitron-Medium.woff2") format("woff2"), url("/madbackpacks-dev/fonts/Orbitron-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Advent Pro";
	src: url("/madbackpacks-dev/fonts/AdventPro-Bold.woff2") format("woff2"), url("/madbackpacks-dev/fonts/AdventPro-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
