.form-control {
	border: 1px solid rgba($white, 0.1);
	padding: 10px 23px;
	font: 500 16px/32px $baseFF;
	background: rgba($white, 0.05);
	color: $white;
	letter-spacing: 0.04em;
	display: block;
	width: 100%;
	border-radius: 12px;

	&::-webkit-input-placeholder,
	&::-moz-placeholder {
		opacity: 1;
		color: rgba($white, 0.65);
	}

	&:focus {
		outline: none;
	}

	&.is-error {
		border-color: #ff2977;
		color: #ff2977;
	}
}
