.swiper-pagination {
	display: flex;
	justify-content: center;
	align-items: center;

	&-bullet {
		width: 4px;
		height: 4px;
		display: block;
		flex: 0 0 auto;
		margin: 0 5px;
		border-radius: 50%;
		background: linear-gradient(90deg, #32b0da 23.14%, #d1fece 46.22%, #69f5da 69.31%);

		&-active {
			width: 8px;
			height: 8px;
		}
	}
}
